<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{$title}-sunshine of micro</title>
	<link rel="icon" href="/favicon.ico" type="/image/x-icon" />
	<link rel="shortcut icon" href="/favicon.ico" type="/image/x-icon" />
	<meta name="keywords" content="xiebaochun,sunshine of micro,front-end,zstu,edu,zhejiang hangzhou" />
	<meta name="description" content="xiebaochun's blog of front end technology" />
	<link rel="stylesheet" type="text/css" href="./css/common.css">
	<link rel="stylesheet" type="text/css" href="./css/index.css">
	<link rel="stylesheet" type="text/css" href="./css/layout.css">
</head>
<body>
<div class="wrap">
	{$header}
	{$aside}<article>
		<div class="markdown-body">
			{$markdown}	
		</div>
			
	</article>
	{$footer}	
</div>

</body>
</html>